// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

// Customize color
// Customize color for delve
atom-text-editor {
  
    .syntax--keyword.syntax--operator {
        color: #ed751f;
    }
//
//     .syntax--constant.syntax--language {
//       color : #E8768E;
//     }
//
    .syntax--keyword.syntax--control {
      color : #36afc4;
    }
//     .syntax--line.syntax--comment {
//       color : #ffffff;
//     }
//
    .syntax--keyword.syntax--control {
      color : #767AE8;
    }
    .syntax--formal.syntax--param {
      color : #3CCCFF;
    }
    .syntax--formal.syntax--id {
      color : #5cab37;
    }
    .syntax--keyword.syntax--red {
      color : #e34a33;
    }
}
