scopeName: 'delve'
name: 'Delve'
type: 'tree-sitter'
parser: 'tree-sitter-delve-language'

fileTypes: [
  'delve'
]

scopes:
  'true' :  'constant.language'
  'false' : 'constant.language'
  '"def"' : 'keyword.control'
  '"and"' : 'keyword.control'
  '"not"' : 'keyword.red'
  '"or"' : 'keyword.control'
  '"+"': 'keyword.operator'
  '"-"': 'keyword.operator'
  '"*"': 'keyword.operator'
  '"/"': 'keyword.operator'
  '"%"': 'keyword.operator'
  '">"': 'keyword.operator'
  '"<"': 'keyword.operator'
  '">="': 'keyword.operator'
  '"<="': 'keyword.operator'
  '"="': 'keyword.operator'
  '"&"': 'keyword.operator'
  '"|"': 'keyword.operator'


  
  'formal_params' :'formal.param'
  'new_formal_param' : 'formal.param'
  'formal_id' : 'formal.id'
  'line_comment' : 'line.comment'
  'block_comment' : 'line.comment'
  'relname_literal' : 'relation.name'

